$primary-color-dark:    #455A64;
$primary-color:         #607D8B;
$primary-color-light:   #CFD8DC;
$primary-color-text:    #FFFFFF;
$accent-color-dark:     #00796B;
$accent-color:          #009688;
$accent-color-text:     #EEEEEE;
$accent-color-light:    #B2DFDB;
$primary-text-color:    #434343;
$secondary-text-color:  #757575;
$divider-color:         #BDBDBD;
$cautious-color-light:  #F93140;
$cautious-color:        #BA000E;
$cautious-color-dark:   #92000B;
$disabled-color:        #F1F1F1;
