@mixin box_sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin transform ($s) {
    transform: $s;
    -ms-transform: $s;
    -webkit-transform: $s;
}
