#card-list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 50rem;
    @include transform(translate(-50%, -50%));
    text-align: center;

    #card-upper {
        position: relative;
        margin-bottom: 0.5rem;
        text-align: left;

        .card-upper-btn {
            @include button_simple;
            display: inline-block;
            margin-right: 1rem;
            i {
                color: $primary-color;
                vertical-align: bottom;
            }
        }

        .switch-container {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .card-single {
        position: relative;
        width: 100%;
        overflow: none;
        height: 20rem;
        line-height: 20rem;
        font-size: 3.6rem;
        @include box-sizing;
        border: 0.2rem solid $primary-color-dark;

        .card-sound-btn {
            @include button_round;
            font-size: inherit;
            width: 8rem;
            height: 8rem;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            font-size: inherit;
        }
    }

    #card-lower {
        position: relative;

        .card-lower-btn {
            @include button_new;
            margin-left: 0.5rem;
            padding: 0.5rem 0;
            width: 25%;
            i { color: white; }
        }

        .card-index {
            display: inline-block;
            width: 40%;
            margin-left: 0.5rem;
        }
    }
}

#card-table {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    max-width: 50rem;
    background-color: white;
    border: 0.2rem solid $primary-color-dark;
    @include box-sizing;
    @include transform(translate(-50%, -50%));
    z-index: 1;

    #card-table-upper {
        position: relative;
        margin-bottom: 0.5rem;
        text-align: left;

        .card-upper-btn {
            @include button_simple;
            display: inline-block;
            margin-right: 1rem;
            i {
                color: $primary-color;
                vertical-align: bottom;
            }
        }
    }

    .card-row {
        text-align: left;
        height: 70%;

        .card-row-cell {
            display: inline-block;
        }

        .card-row-idx {
            margin-left: 3%;
            width: 10%;
        }

        .card-row-eng {
            width: 45%;
            margin-right: 3%;
        }

        .card-row-vi {
            width: 35%;
            margin-right: 3%;
            vertical-align: text-top;
        }
    }

    #card-table-lower {
        position: absolute;
        width: 100%;
        bottom: 5%;
        margin-top: 2rem;
        text-align: center;

        .card-table-lower-btn {
            @include button_new;
            margin-left: 0.5rem;
            padding: 0.5rem 0;
            width: 25%;
            i { color: white; }
        }
    }
}
