#category-list {

    position: absolute;
    width: 20rem;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    .category-row {
        @include button_simple;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 1rem;

        &:active {
        }

        .category-checkbox {
            display: inline-block;
            margin-right: 2rem;
        }

        .category-name {
            display: inline-block;
            font-size: 3.6rem;
        }
    }

    .category-button {
        @include button_new;
        margin-top: 5rem;
        text-align: center;
    }
}
