#category-list {

    position: absolute;
    width: 20rem;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    .category-button {
        @include button_simple;
        text-align: center;
        font-size: 3.6rem;
        display: block;
        margin: auto;
        margin-top: 1rem;

        &:active {
        }
    }
}
