.switch-container {
    .switch-text {
        cursor: pointer;
        display: inline-block;
        color: $primary-color;
        // border-bottom: 0.2rem solid $primary-color-dark;
        // font-size: 2.6rem;
        line-height: 3rem;
        padding: 0 1rem 0 0.5rem;
        vertical-align: middle;
    }

    .switch-text-off {
        color: $primary-color;
    }
    .switch-slider {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        height: 3rem;
        width: 1rem;
        border: 0.2rem solid $primary-color-dark;
        border-top: none;
        border-bottom: none;
        background-color: $accent-color-light;

        .switch-slider-button {
            @include button_new;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0.2rem;
            left: -0.5rem;
            height: 1rem;
            width: 2rem;
            z-index: 1;
        }

        .switch-slider-button-off {
            @include button_choose;
            margin: 0;
            padding: 0;
            top: 1.8rem;
        }
    }

    .switch-slider-off {
        background-color: $primary-color-light;
    }
}
